/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body
{
    font-size:2.75vmin;
    font-family: 'Antic', Helvetica, Arial, sans-serif;
    background-image:url("../images/knitting250px/knitting250px.png");

}

h1 {
    padding: .5em;
}

h2
{
    text-align: center;
    padding: 2em;
}

h3
{
    padding: .5em;
    font-size: 1.2em;
}

span.bold
{
    -webkit-text-stroke: .025em black;
}

a
{
    color: black;
    text-decoration: none;
}

p
{
    font-weight:normal;
    margin:20px;
    font-size: 1em;
}
ul {
    line-height: 1.2em;
}



/* HEADER */
header
{       
    height: 30vh;
    width: 100%;
    margin: auto;
    position: relative;
    display: block;
    background-color: #33CCCC;
    line-height:30vh;
}

.header_content {
    display:block;
    width: 75%;
    height: 100%;
    margin:auto;
    position: relative;

}


.header_text
{
    font-family: 'Antic Slab';
    font-size: 2em;
    float: left;
    position: absolute;
    vertical-align: middle;
}

@media handheld, only screen and (max-width: 800px) {
    .header_text
    {
        font-size: 4vw;
    }
    

}

.header_text a {
    text-decoration: none;
    color:white;
}



/* NAVBAR */

nav
{
    width: 75%;
    float: right;
    position: relative;

}

nav ul
{       
    list-style:none;
    line-height: inherit;
    text-align: right;

}

nav li 
{
    padding-left: 5%;
    display: inline-block;
}


nav li a
{
    margin: 0;
    color: white;
    text-decoration:none;
    font-size: 1.2em;
}

nav a:hover, nav a:active
{
    color:black;

}

.navicon {
    display: none;
}


@media handheld, only screen and (max-width: 800px) {

    nav
    {
        height: 100%;
        line-height: 100%;
        display: block;
    }

    nav ul {
        display: block;
        float: right;
        height: 100%;
        width: 50%;
        position: absolute;
        text-align: left;
        top:65%;
        left: 75%;
        background-color: #33CCCC;
        z-index: 5;
        display: none;
    }

    nav li {
        display: block;
        height: 25%;
    }
    

    nav li a
    {
        height: 100%;
        display: block;
        color: white;
        text-decoration:none;
        font-size: 1.2em;
        padding: .5em;
    }

    
    .navicon {
        top: 45%;
        display: block;
        position: absolute;
        left: 80%;
        float: right;
        margin: 0;
        z-index: 1;
        padding: 1%;
        margin: auto;
    }

    .navicon:hover .navicon_bar{
        background-color: black;
    }

    .navicon .navicon_bar { 
        display: block;
        margin: 3px;
        background-color: white;
        width: 20px;
        height: 2px;
        border-radius: 1px;
    } 

    

}

/* ALL PAGES */


.main 
{
    background-color: white;
    padding:2.5%;
}

.main ul
{
    font-weight:normal;
    padding-left:10%;
}


/* HOMEPAGE */

.homepage {
    padding: 5%;
    text-align: center;
}


.homepage img
{
    width: 50vmin;
    height: 50vmin;
    display: block;
    margin: auto;
    border-radius: 50%;

}

.homepage p {
    padding: 5%;
}



/* PORTFOLIO */


#portfolio a:hover {
    text-decoration: underline;
}

#portfolio p {
    margin: 0;
    margin-left: 2%;
    font-size: .9em;
    max-width: 75%;
}










