
body
{
        margin:0;
        padding:0;
        background-color:#CCFFC8;
        font-family: Helvetica, Arial, sans-serif;
}

/* HEADER */

header
{
        margin:0;
        padding:0;
        background-color:#66FFCC;
        
        height:120px;
        line-height:120px;
        width:100%;

}

h1
{
        margin:0;
        padding:0;
}

h1.header_text
{
        color:#FEFEFE;
        padding-left:60px;
        text-shadow:1px 1px 3px #888888;
        text-align:left;
        vertical-align:middle;

}


/* NAVBAR */

nav
{
        background-color:#33CCCC;
        height:40px;
        width:100%;

}

nav ul
{
        font-size:16px;
        list-style:none;
        margin:0;

}

nav ul li
{
        
        position:relative;
        float:left;
        width:33.333%;
        

}

nav ul li a
{
        display:block;
        height:40px;
        line-height:40px;
        color:#FEFEFE;
        text-shadow:1px 1px 3px #888888;
        text-decoration:none;
        text-align:center;
        vertical-align:middle;
}

a:hover,a:active
{
        background-color:#339999;
}

/* ALL PAGES */

div.main
{
        margin:60px;
        width:70%;
}

h3
{
        background-color:#33CCCC;
        padding:5px;
        color:#FEFEFE;
        text-shadow:1px 1px 3px #888888;
        font-weight:normal;
}


span.bold
{
        font-weight:bold;

}

p
{
        font-size:14px;
        font-weight:normal;
        margin-left:0;
        padding-left:5%;
 }

ul
{
        font-size:14px;
        font-weight:normal;
        margin-left:0;
        padding-left:10%;
}


/* HOMEPAGE */



img.default_pic
{
        box-shadow:5px 5px 5px #888888;
        max-width:60%;
        max-height:60%;
        border:10px;
        position: absolute; 
}




div.homepage_text
{
        padding:40px;
        text-align:center;
        margin-left:75%;
}

/* RESUME */











